.feed_title{
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    text-align: left;
    font-weight: normal;
    color: black;
    margin-left: 20px;
}

hr{
    width: 50%;
    margin-left: 20px;
    margin-top: 0px;
    margin-right: 30%;
}

/*SQUAD POST*/
.squad_post{
    height: 130px;
    margin-left: 20px;
}

.squad_post h1{
    text-align: left;
    font-size: 20px;
}

.squad_post h2{
    text-align: left;
    font-size: 15px;
}

.squad_post p{
    text-align: left;
    font-size: 12px;
}