/*Title Heading*/
.feed_title {
  font-size: 1.5rem;
  text-align: center;
}

/*SQUAD POSTS*/
.wrapper {
  width: 50%;
  margin: 0 auto;
}
.squad_post {
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  margin-bottom: 1rem;
  padding: 1rem;
  word-wrap: break-word;
}
.squad_post h2 {
  font-size: 1rem;
}
.squad_post p {
  font-size: 0.75rem;
}
/*NEW SQUAD POST*/
.new-post-textbox {
  float: left;
  margin-right: 5%;
}
#new_post_area {
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  margin-bottom: 1rem;
  overflow: auto;
  padding: 1rem;
  width: 100%;
}
#new_post_form {
  display: inline-block;
  width: 80%;
}
#new_post_title {
  width: 35%;
}
#new_post_descript {
  width: 55%;
}
.post_button {
  float: right;
  font-size: 80%;
  padding: 0.75rem 1rem !important;

}
#post_username {
  text-align: right;
  float: right;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.post_username{
  text-align: right;
  float: right;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.timestamp {
  float: right;
}
#please_verify {
  text-align: center;
  color: red;
  display: none;
}
.join-button {
  cursor: pointer;
}
#leave-button {
  display: none;
}
.leave-button {
  cursor: pointer;
}
.joined {
  color: #b99a54;
  cursor: default;
  display: none;
}
.goons-in-squad{
  min-height: 20px;
  display: none;
}
.goon-name{
  font-size: 14px;
  display: none;
}
.num-goons{
  cursor: pointer;
}