/*Title Heading*/
.feed_title{
  font-size: 1.5rem;
  text-align: center;
}

/*SQUAD POSTS*/
.wrapper {
  width: 50%;
  margin: 0 auto;
}
.squad_post {
  border: solid;
  border-width: 0.5px;
  border-color: #7B7B7B;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #E6E6E6;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 2px;
  word-wrap: break-word;
}
.squad_post h2 {
  font-size: 1rem;
}
.squad_post p {
  font-size: 0.75rem;
}
/*NEW SQUAD POST*/
#new_post_area{
  padding: 1rem;
  margin-bottom: 1rem;
  border: solid;
  border-width: 0.5px;
  border-color: #7B7B7B;
  background-color: #E6E6E6;
  box-shadow: 2px 2px 5px #888888;
}
#post_username{
  text-align: right;
  float: right;
  font-size: 0.75rem;
  text-transform: uppercase;
}
#please_verify{
  text-align: center;
  color: red;
  display: none;
}