/*Title Heading*/
.feed_title {
  font-size: 1.5rem;
  text-align: center;
}

/*SQUAD POSTS*/
.wrapper {
  width: 50%;
  margin: 0 auto;
}
.squad_post {
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #888888;
  margin-bottom: 1rem;
  padding: 1rem;
  word-wrap: break-word;
}
.squad_post h2 {
  font-size: 1rem;
}
.squad_post p {
  font-size: 0.75rem;
}
/*NEW SQUAD POST*/
#new_post_area {
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #888888;
  margin-bottom: 1rem;
  padding: 1rem;
}
#new_post_title,
#new_post_descript {
  font-family: inherit;
}
#post_username {
  text-align: right;
  float: right;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.post_username{
  text-align: right;
  float: right;
  font-size: 0.75rem;
  text-transform: uppercase;
}
#please_verify {
  text-align: center;
  color: red;
  display: none;
}
.join-button {
  cursor: pointer;
}
