#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.popupContainer{
  position:absolute;
  width: 20rem;
  left: 45%;
  top: 20%;
  background: #fff;
}
#modal {
  padding: 2rem;
}
.signup {
  float: right;
}
.popupBody label {
  display: block;
}
.popupBody input {
  width: 60%;
}
/* div that allows login button to be centered */
.login-button-container {
  text-align: center;
}
/* login/register button */
.login-register-button {
  font-size: 80%;
  margin: 0 auto;
  padding: 1rem;
  text-transform: uppercase;
}