html,
body {
  margin: 0;
  padding: 0;
  background:#E6E6E6;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  vertical-align: center;
  color: #323131;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
.title {
  display: inline-block;
  float: left;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 900;
  line-height: 4rem;
  margin: 0;
}
nav a {
  color: white;
}
li {
  list-style-type: none;
}
a {
  color: #4387fd;
  text-decoration: none;
}
/*Page Title Headings*/
.title-text {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  color: black;
}
/*Visual Header*/
header {
  background: #4387fd;
}
nav {
  height: 4rem;
  margin: 0 auto;
  width: 80%;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  float: left;
  font-size: 90%;
  font-weight: 400;
  line-height: 4rem;
  padding-left: 1rem;
  position: relative;
  text-transform: uppercase;
}
.menu-right {
  display: inline-block;
  float: right;
}
/*The Main Chunk*/
.content {
  width: 80%;
  height: auto;
  min-height: 550px;
  background: #FFFFFF;
  border: 1px solid #CCC;
  margin: 0px auto 40px auto;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.wrapper {
  width: 50%;
  margin: 0 auto;
}
/*Squad Image of the Month*/
.squad_img {
  height: 350px;
  width: 600px;
  padding-top: 10px;
  margin-bottom: 20px;
}
/*Visual Footer*/
footer {
  width: 100%;
  background-color: #4387fd;
}
.footer-wrapper {
  margin: 0 auto;
  padding: 2rem 0;
  width: 80%;
}
footer a {
  color: white;
}
/*The Blueprint for Large Buttons*/
.enter_button {
  margin-left: 10px;
  margin-right: 20px;
  height: 50px;
  width: 200px;
  background-color: #4387fd;
  font-size: 20px;
  color: white;
  vertical-align: middle;
  position: relative;
  vertical-align: top;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  border-bottom: 2px solid #3D76DA;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #3D76DA;
  box-shadow: inset 0 -2px #3D76DA;
}
/*The Blueprint for Small Buttons*/
.small_button  {
  height: 25px;
  width: 75px;
  background-color: #4387fd;
  font-size: 12px;
  color: white;
  vertical-align: middle;
  margin-top: 1rem;
  position: relative;
  vertical-align: top;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  border-bottom: 2px solid #3D76DA;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #3D76DA;
  box-shadow: inset 0 -2px #3D76DA;

}
/*Facebook Button*/
.fb-login-button {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}
/*login and signup forms*/
#login_form { 
  display: none;
  margin-top: 10px;
}
#signup_form {
  display:none;
  margin-top:  10px;
}
.error_login {
  width: 70%;
  color: red;
  margin-top: 10px;
  display: none;
}
.menu-text{
  cursor: pointer;
}
