* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  background: #E6E6E6;
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
.title {
  color: #222;
  display: inline-block;
  float: left;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 900;
  line-height: 4rem;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  color: #4387fd;
  text-decoration: none;
}
p {
  line-height: 1.5;
}
/*Page Title Headings*/
.title-text {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  color: black;
}
/*Visual Header*/
header {
  background: #4387fd;
}
nav {
  height: 4rem;
  margin: 0 auto;
  width: 80%;
}
nav a {
  color: white;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  float: left;
  font-size: 80%;
  font-weight: 500;
  line-height: 4rem;
  padding-left: 1rem;
  position: relative;
  text-transform: uppercase;
}
.menu-right {
  display: inline-block;
  float: right;
}
/* The Main Chunk */
.content {
  background: white;
  height: auto;
  min-height: 550px;
  margin: 0 auto;
  padding: 1.25rem 0;
  width: 80%;
}
.wrapper {
  width: 50%;
  margin: 0 auto;
}
/* Squad Image of the Month */
.squad_img {
  height: 350px;
  width: 600px;
  padding-top: 10px;
  margin-bottom: 20px;
}
/* Footer */
footer {
  width: 100%;
  background-color: #4387fd;
}
.footer-wrapper {
  margin: 0 auto;
  padding: 0.7rem 0;
  width: 80%;
}
footer a {
  color: white;
}
/* The Blueprint for Large Buttons */
.large_button {
  background-color: #4387fd;
  border: 0;
  -webkit-box-shadow: 0 4px 0 #3D76DA;
  -moz-box-shadow: 0 4px 0 #3D76DA;
  box-shadow: 0 4px 0 #3D76DA;
  color: white;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-family: inherit;
  font-size: 1.25rem;
  padding: 1rem 0;
  position: relative;
  text-align: center;
  width: 45%;
}
.large_button:active {
  top: 2px;
  -webkit-box-shadow: 0 2px 0 #3D76DA;
  -moz-box-shadow: 0 2px 0 #3D76DA;
  box-shadow: 0 2px 0 #3D76DA;
}
/*The Blueprint for Small Buttons*/
.small_button {
  background-color: #4387fd;
  color: white;
  display: inline-block;
  font-family: inherit;
  font-size: 12px;
  padding: 0.5rem 1rem;
  text-align: center;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 0 #3D76DA;
  -moz-box-shadow: 0 4px 0 #3D76DA;
  box-shadow: 0 4px 0 #3D76DA;
  position: relative;
}
.small_button:active {
  top: 2px;
  -webkit-box-shadow: 0 2px 0 #3D76DA;
  -moz-box-shadow: 0 2px 0 #3D76DA;
  box-shadow: 0 2px 0 #3D76DA;
}
/*Facebook Button*/
.fb-login-button {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}
/* Login and signup forms */
#login_form { 
  display: none;
}
#signup_form {
  display:none;
}
.error_login {
  width: 70%;
  color: red;
  margin-top: 10px;
  display: none;
}
.menu-text {
  cursor: pointer;
  text-transform: lowercase;
}
.alert-text {
  width: 100%;
  color: red;
  text-align: center;
  margin-bottom: 15px;
  display: none;
}
.header-message{
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0px;
  color: #4387fd;
  font-size: 27px;
}
/* Styling for items that should turn blue on hover */
.link {
  transition: color 0.2s ease;
}
.link:hover {
  color: #4387fd;
}

input[type=text],
input[type=file],
button {
  font-family: inherit;
}
.input {
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  padding: 0.5rem;
  transition: all 0.2s ease;
}
.input:focus {
  border: 1px solid #a1a1a1;
  outline: none;
}
.cycle-slideshow img {
  max-width: 100%;
}
.hamburger-icon {
  cursor: pointer;
  display: inline-block;
  fill: white;
  float: right;
  padding: 1rem 0;
}
.mobile-nav {
  display: none;
}
.active {
  background: #4387fd;
  display: block;
}

/* Mobile queries */
@media screen and (max-width: 650px) {
  .content {
    margin: 0;
    width: 100%;
  }
  .unit {
    width: 100%;
    margin-left: 0;
    display: block;
  }
  .wrapper {
    width: 85%;
  }
  .new-post-textbox {
    float: left;
    margin-right: 0;
  }
  #new_post_form {
    display: inline-block;
    width: 100%;
  }
  #new_post_title {
    width: 100%;
  }
  #new_post_descript {
    width: 100%;
  }
  .post_button {
    float: none;
  }
  .menu-right {
    display: none;
  }
}

@media screen and (min-width: 48em) {
  .mobile {
    display: none;
  }
}