/*FB Button*/
.fb-login-button {
  margin-top: 20px;
  width: 100%;
}
/*PROFILE*/
.my_profile {
  height: 200px;
}
.profile_title_text {
  display: inline-block;
}
.profile_pic_holder {
  margin-bottom: 0;
  overflow: hidden;
  height: 168px;
  width: 168px;
}
.profile_pic_holder img {
  float: left;
  height: 100%;
  width: auto;
  margin-bottom: 0;
  border: none;
  overflow: hidden;
}
#profile_pic {
  height: 100%;
  width: 100%;
}
.profile_section {
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  margin-bottom: 1rem;
  padding: 1rem;
}
.edit_profile_section {
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  display: none;
  font-family: inherit;
  margin-bottom: 1rem;
  padding: 1rem;
}
.edit_profile_section ul {
  margin: 0;
}
.edit_profile_section li {
  font-family: inherit;
}
#edit_profile {
  text-align: left;
  margin-top: 0px;
  padding-bottom: 10px;
  font-size: 12px;
  cursor: pointer;
}
.edit_profile {
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  padding-left: 0.5rem;
}
#edit_profile_menu {
  padding-left: 0;
  margin-left: 0;
}

/* override default wrapper width */
.wrapper {
  width: 70%;
}