li {
  list-style-type: none;
  padding-top: 10px;
  font-size: 15px;
}
a {
  text-decoration: none;
}
p {
  margin-top: 0px;
}
/*Visual Header of the Page*/
.header {
  height:130px;
  background: #4387fd;
}
/*Visual footer of the page*/
.site-footer {
  height: 30px;
  width: 100%;
  background-color: #4387fd;
  padding-bottom: 1%;
}
/*FB Button*/
.fb-login-button {
  margin-top: 20px;
  width: 100%;
}
/*PROFILE*/
.my_profile {
  height: 200px;
}
.profile_pic_holder {
  height: 168px;
  width: 168px;
  padding-left: 10px;
  border: none;
  border-width: 1px;
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 5px;
}
.profile_pic_holder img {
  float: left;
  height: 168px;
  width: 168px;
  margin-bottom: 0;
  border: none;
}
.profile_title_text{
  font-size: 20px;
  text-align: left;
  font-weight: normal;
  color: black;
  margin-left: 20px;
  margin-bottom: 12px;
}
.profile_section {
  margin-left: 20px;
  min-height: 188px;
  padding-top: 5px;
  padding-right: 20px;
  margin-bottom: 0px;
  border: solid;
  border-width: 0.5px;
  border-color: #7B7B7B;
  width: 70%;
  background-color: #E6E6E6;
  box-shadow: 2px 2px 5px #888888;
}
.edit_profile_section{
  margin-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  margin-bottom: 0px;
  margin-top: 20px;
  border: solid;
  border-width: 0.5px;
  border-color: #7B7B7B;
  width: 70%;
  background-color: #E6E6E6;
  box-shadow: 2px 2px 5px #888888;
  display: none;
}
#edit_profile{
  text-align: left;
  margin-top: 0px;
  padding-bottom: 10px;
  font-size: 12px;
  cursor: pointer;
}
.edit_profile{
  text-align: left;
  margin-top: 0px;
  padding-bottom: 10px;
  font-size: 12px;
  cursor: pointer;
}
#edit_profile_div {
  margin-left: 10px;
  padding-bottom: 5px;
}
#edit_profile_menu{
  padding-left: 0;
  margin-left: 0;
}