/*FB Button*/
.fb-login-button {
  margin-top: 20px;
  width: 100%;
}
/*PROFILE*/
.my_profile {
  height: 200px;
}
.profile_title_text {
  display: inline-block;
}
.profile_pic {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: 10rem;
  width: 10rem;
}
.edit-profile-pic {
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
  color: white;
  font-weight: 500;
  height: 100%;
  opacity: 0;
  padding-top: 45%;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  width: 100%;
}
.edit-profile-pic:hover {
  opacity: 1;
}
.profile_section {
  margin-bottom: 1rem;
}
.edit_profile_section {
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  display: none;
  font-family: inherit;
  margin-bottom: 1rem;
  padding: 1rem;
}
.edit_profile_section ul {
  margin: 0;
}
.edit_profile_section li {
  font-family: inherit;
}
#edit_profile {
  text-align: left;
  margin-top: 0px;
  padding-bottom: 10px;
  font-size: 12px;
  cursor: pointer;
}
.edit_profile {
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  padding-left: 0.5rem;
}
#edit_profile_menu {
  padding-left: 0;
  margin-left: 0;
}

/* override default wrapper width */
.wrapper {
  width: 70%;
}