{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="content">
      <div class="wrapper about-wrapper">
        <!--The description of the website, by category. -->
        <div class="grid">
          <div class="about-descript unit one-of-three">
            <h3 class="profile-title-text">Individual Users</h3>
            <p>
              Looking for something to do? Your squad feed will provide you with limitless opportunities for excitement, adventure, and festivity. Join a squad and enjoy a new experience with interesting people in your area. Post squad listings so others can join you.
            </p>
          </div>

          <div class="about-descript unit one-of-three">
            <h3 class="profile-title-text">Squads</h3>
            <p>
              Find people nearby with the same interests as you. Post a squad listing and become connected with users who want to go to the same concerts, eat at the same restaurants, and see the same movies that you do. You will never need to be without a squad again.
            </p>
          </div>

          <div class="about-descript unit one-of-three">
            <h3 class="profile-title-text">Squadrons</h3>
            <p>
              Form private squads with your closest friends. Squadrons let you choose who you invite on your outings. Share exciting squad posts within your squadron and together decide where and when to squad up.
            </p>
          </div>

          <div class="unit span-grid developer-text">
            <p>
            Developed by David Smart, Josh Bartlett, Sophie Stadler, and Larry Grief of <a href="http://www.3005hacks.com">3005hacks</a>.
          </p>
          <p>Version 0.6 Pre-Alpha</p>
          <p class="developer-text">Inspired by Miles Lewis</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}