h1 {
  color: white;
  font-size: 6rem;
  font-weight: 900;
  padding: 16rem 0;
  text-transform: uppercase;
}
h2 {
  color: black;
  font-weight: 900;
  margin-top: 0;
  text-transform: uppercase;
}
.wrapper {
  width: 80% !important;
}
nav {
  background-color: rgba(0, 0, 0, 0.6);
}