/*Heading Title Text*/
.profile-title-text {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 0.5rem;
}
/*About Descriptions*/
.about-descript li {
  clear: left;
  text-align: center;
}

/* unique wrapper width */
.about-wrapper {
  width: 80%;
}